@charset "UTF-8";     /* 文字コードの記述 */
@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';

/* -----------------------
******  common.html  ******
--------------------------*/
body {
  width: 100%;
  margin: 0 auto;
  background-color: #ccc;
  color: #333;
  font-size: 15px;
  line-height: 2;
  margin: 0 auto;
}
a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
/*
a:visited {
  color: #009cd3; }            /* 訪問済みの状態 */


/* -----------------------
          header
--------------------------*/
header {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
/*------------------------------

  ここから下がハンバーガーメニュー
  に関するCSS

------------------------------*/

/* チェックボックスは非表示に */
.drawer-hidden {
  display: none;
}
/* ハンバーガーアイコンの設置スペース */
.drawer-open {
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;/* 重なり順を一番上に */
  cursor: pointer;
}

/* ハンバーガーメニューのアイコン */
.drawer-open span,
.drawer-open span:before,
.drawer-open span:after {
  content: '';
  display: block;
  height: 3px;
  width: 35px;
  border-radius: 3px;
  background: #fff;
  transition: 0.5s;
  position: absolute;
}

/* 三本線のうち一番上の棒の位置調整 */
.drawer-open span:before {
  bottom: 8px;
}

/* 三本線のうち一番下の棒の位置調整 */
.drawer-open span:after {
  top: 8px;
}

/* アイコンがクリックされたら真ん中の線を透明にする */
#drawer-check:checked ~ .drawer-open span {
  background: rgba(255, 255, 255, 0);
}

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawer-check:checked ~ .drawer-open span::before {
  bottom: 0;
  transform: rotate(225deg);
}

#drawer-check:checked ~ .drawer-open span::after {
  top: 0;
  transform: rotate(-225deg);
}
/* メニューのデザイン*/
.drawer-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;/* メニューを画面の外に飛ばす */
  z-index: 99;
  background: #a9a9a9;
  transition: .5s;
}
.drawer-list  {
  padding: 0;
}
.drawer-list li {
  list-style: none;
  font-size: 1.5vw;
  text-align: center;
  padding: 40px 0;
  transition: .3s;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.drawer-list li:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
.drawer-list li:first-child {
  margin-top: 15%;
}

/* アイコンがクリックされたらメニューを表示 */
#drawer-check:checked ~ .drawer-content {
  left: 0;/* メニューを画面に入れる */
}

/* -----------------------
          wrap
--------------------------*/
/* ※id属性にcssを適用する場合は、#(シャープ)の後ろにid名を記述していく */
/* プロパティclearはfloatを解除するためのプロパティ。今回はheaderに付与されているがheader以降も反映されてしまうため記述が必要になる */
#wrap {
  width: 90%;
  margin: 0 auto;
  clear: both;
  background-color: #fff;
  margin-top: 220px;              /* メインヴィジュアルが隠れてしまったため上端に余白を追加 */
  padding: 35px 0;
}
.content {
  width: 100%;
  margin:0 auto;
}
/* -----------------------
         footer
--------------------------*/
footer {
  width: 80%;
  color: #fff;
  text-align: center;
}
footer small {
  font-size: 12px;
}

/*------------------------
******  index.html  ******
-------------------------*/
#index {
  background-color: #000;
  background-repeat: no-repeat;         /* 繰り返しを制御する */
  background-position: center center;   /* 表示開始位置を指定する */
  background-attachment: fixed;         /* 表示位置を固定する */
  background-size: cover;               /* 大きさを指定する ※縦横比を保持したままフルスクリーンで拡大縮小するcover */
}
#index #wrap {
  background-color: transparent;        /* #wrapの背景が#fffのため解除するためにtransparentで透明にする */
  margin-top: 0;
  padding: 0;                           /* margin,paddingの指定も解除 */
}

#index h1 {
  font-size: 4.5vw;
  line-height: 1.3;
  color: #fff;
  font-family: 'Bitter', serif;
  margin-bottom: 50px;
  border: none;                          /* h1の下線を解除 */
}
#index .content {
  margin-top: 150px;
}
#index p {
  font-size: 0.9vw;
  color: #fff;
}

/* --- To Portfolio ボタン --- */
.btn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 240px;
  cursor: pointer;
  margin-top: 60px;
}
.btn-one {
  color: #fff;
  font-size: 20px;
  transition: all 0.3s;
  position: relative;
}
.btn-one a {
  transition: all 0.3s;
  position: relative;
  z-index: 98;
}
.btn-one::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255,255,255,0.5);
  border-bottom-color: rgba(255,255,255,0.5);
  transform: scale(0.1, 1);
}
.btn-one:hover span {
  letter-spacing: 3px;
}
.btn-one:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}
.btn-one::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255,255,255,0.1);
  border-radius: 5px;
}
.btn-one:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}

#index footer {
  width: 90%;
  margin: 80px auto 0 auto;
  text-align: left;
  background-color: transparent;         /* フッターの背景色も解除 */
}

/* ----- particles.js ------*/
#index html,body {
  height: 100%;/*高さを100%にして描画エリアをとる*/
}
#index #particles-js{
	position:fixed;/*描画固定*/
	z-index:-1;/*描画を一番下に*/
	width: 100%;
	height: 100%;
}

/*------------------------
******  about.html  ******
-------------------------*/
#about {
  background-image: url(/images/bg-about.jpg);
  background-repeat: no-repeat;
  background-position: center top;                 /* topにすることで上端に背景画像を設置する */
  background-attachment: fixed;
  background-size: 100% auto;                      /*横方向へ100％ 縦方向へはautoで領域に収まるよう指定し要素の長辺に合わせて表示する*/
  margin: 0 auto;
}
.main-center {
  width: 90%;
  margin: 0 auto;
}
h1 {
  font-family: 'Bitter', serif;
  font-size: 36px;
  border-bottom: 1px solid #ccc;
}
h2 {
  font-family: 'Bitter', serif;
  font-size: 24px;
}
h2 img {
  width: 100%;
}

/* 【疑似要素とは】
要素の前後にテキストや画像を追加、また要素内の特定箇所にスタイルを指定することができるコーディング
記述例    [セレクタ]::[疑似要素名]
要素の前に追加したい場合は「::before」、後ろに追加の場合は「::after」となる
*/
.icon::before {
  content: "";
  padding-right: 10px;
  border-left: 7px solid #9cb4a4;
}
#about .profile-txt {
  width: 540px;
  float: left;                          /* プロフィール文のレイアウト */
}
#about .profile-txt span{
  font-weight: bold;
}
#about .profile-img {
  float: right;
}

/*親要素に高さを持たせ要素の回り込みを解除するclearfix
クラス名で追加したclearfixに疑似クラス::afterを追加しcontentで空BOXを生成
空BOXはインライン要素のためblock要素に変更し、clear:bothでfloatを解除することによりレイアウトが修正される
*/
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
section {
  margin-bottom: 35px;
}
#about .career th {
  width: 240px;
  background-color: #f0f0f0;
  padding: 12px 0;
  border: 1px solid #ccc;             /* th要素はデフォルトで中央揃え */
}
#about .career td {
  width: 660px;
  padding: 12px 0 12px 40px;
  border: 1px solid #ccc;
}
table {
  border-spacing: 0;                    /* テーブル要素（セル間）の余白を調整 */
  border-collapse: collapse;            /* 隣り合うボーダーを結合するか分離するか指定 */
}

/*------------------------
******  portfolio.html  ******
サイドバーによる2カラムレイアウトページ作成
-------------------------*/
#portfolio {
  background-image: url(/images/bg-portfolio.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100% auto;           /* #aboutのcssより拝借 */
}
.main {
  width: 70%;
  margin: 0 10px;
  float: left;                          /* メインエリアの位置設定 */
}
a img:hover {
  opacity: 0.8;
}
.sidebar {
  width: 180px;
  margin: 0 20px 0 30px;
  float: right;                         /* サイドバーエリアの位置設定 */
  font-family: 'Bitter', serif;
}
.sidebar h2 {
  margin-bottom: 10px;
}
.sidebar ul {
  font-size: 16px;
  padding-left: 20px;
}
.sidebar ul a {
  color: #333;
}

/*------------------------
******  photograph.html  ******
グリッドレイアウトページの制作
-------------------------*/
#photograph {
  background-image: url(/images/bg-photograph.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100% auto;
}
#photograph .photograph-list li {        /* 画像ギャラリーのレイアウト */
  float: left;
  list-style: none;
  margin: 0 20px 15px 0;
}
#photograph .photograph-list {
  padding: 0;
}

/* 特定の条件に当てはまる要素を指定する疑似クラス「:nth-child()」
ある要素を最初から数えて「2番目の要素」「2の倍数の要素」など指定することが可能
2番目の場合・・・:nth-child(2)
2の倍数の場合・・・:nth-child(2n)
他にも初めの要素を指定する「:first-child」や最後の要素を指定する「:last-child」
上記もあり崩れたレイアウトを修正する場合に利用する。
*/
/* 3番目で折り返しのため3の倍数で指定 */
#photograph .photograph-list li:nth-child(3n) {
  margin-right: 0;
}

/*------------------------
******  video.html  ******
-------------------------*/
#video {
  background-image: url(/images/bg-video.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100% auto;
}

/*------------------------
******  contact.html  ******
問い合わせページの作成
-------------------------*/
#contact {
  background-image: url(/images/bg-contact.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100% auto;
}
/* アクセスセクション */
#contact .access table {
  float: left;
}

#contact .access th,
#contact .access td {
  text-align: left;
  vertical-align: top;
  line-height: 2.5;
}
#contact .access td {
  padding-left: 30px;
}
#contact .access iframe {
  width: 460px;
  float: right;
}
/* コンタクトフォームセクション */
#contact .form {
  background-color: #eaeaea;
  padding: 30px 50px;
}
#contact .form dl dt{           /*dtのレイアウト調整*/
  width: 165px;
  padding:10px 0;
  float: left;
  clear: both;
}
#contact .form dl dd {           /*dt要素と高さを合わせる調整*/
  padding:10px 0;
}
/* 入力欄のレイアウト調整 */
#contact .form .name {
  width: 240px;
  height: 30px;
}
#contact .form .email {
  width: 300px;
  height: 30px;
}
#contact .form .tel {
  width: 240px;
  height: 30px;
}
#contact .form .type {
  width: 180px;
  height: 30px;
}
#contact .form button {
  background-color: #009cd3;
  color: #fff;
  font-size: 20px;
  display: block;
  width: 120px;
  text-align: center;
  line-height: 50px;
  border-radius: 5px;
  border: 3px solid #009cd3;
  margin-left: 165px;             /*縦列の調整*/
}
#contact .form button:hover {
  background-color: #fff;
  color: #009cd3;
  cursor: pointer;
}
/* 疑似要素で追加記述 */
#contact .form .required::after {
  content: "*";
  color: #ff0000;
}
#contact .form .attention {
  margin: 20px 0 0 165px;
}

/*------------------------
******  メディアクエリ  ******
-------------------------*/
/* 画面サイズが768以下の場合に適用 タブレット */
@media  only screen and (max-width:768px)  {
  body {
    width: 100%;
    margin: 0 auto;
    font-size: 1.9vw;
  }
  header {
    width: 100%;
    margin: 0 auto;
  }
  .drawer-list li {
    font-size: 4vw;
    padding: 30px 0;
  }
  .drawer-list li:first-child {
    margin-top: 30%;
  }
  .main {
    float: none;
    width: auto;
    margin: 0 5%;
  }
  #wrap {
    margin-top: 100px;
    padding-bottom: 0;
  }
  h1 {
    font-size: 3.2vw;
  }
  h2 {
    font-size: 3vw;
  }
  h2 img {
    max-width: 100%;
  }
  .sidebar {
    width: auto;
    float: none;
    margin: 0;
    padding: 30px 40px 10px;
    background-color: #f7f6f4;
  }
  /* ------index.html-------- */
  #index {
    width: 100%;
    margin: 0 auto;
    text-align: center;

  }
  #index .content {
    margin-top: 100px;
  }
  #index h1 {
    font-size: 7vw;
    line-height: 1.5;
  }
  #index p {
    width: 100%;
    margin: 0 auto;
    font-size: 2vw;
    color: #fff;
  }
  #index footer {
    text-align: center;
    margin-top: 0;
  }
  #index .btn {
    margin: 100px 0 100px 0;
  }
  #index .btn-box {
    display: flex;
    justify-content: center;
  }
}

/*--------------------
画面サイズが600px以下の場合に適用(スマホ)
---------------------- */
@media screen and (max-width:600px){
  body {
    font-size: 3.5vw;         /*vw(ビューポート)・・・Webブラウザに対する割合で利用者の端末に合わせて自動雨滴に切り替わる優れもの*/
  }
  h1 {
    font-size: 7.2vw;
  }
  h2 {
    font-size: 6vw;
  }
  header {
    width: 100%;
    margin: 0;
  }

  #wrap {
    margin-top: 40px;
    padding: 35px 0 0;
  }
  .content {
    width: 100%;
  }
  .main {
    float: none;
    width: auto;
    margin: 0 5%;
  }
  h2 img {
    max-width: 100%;
  }
  #portfolio {
    background-image: url(/images/bg-portfolio-sp.jpg);
  }
  .sidebar {
    width: auto;
    float: none;
    margin: 0;
    padding: 30px 20px 10px;
    background-color: #f7f6f4;
  }
/* --- index.html --- */
  #index {
    text-align: center;
  }
  #index .content {
    margin-top: 60px;
  }
  #index h1 {
    font-size: 10vw;
    line-height: 1.5;
  }
  #index p {
    width: 80%;
    margin: 0 auto;
    font-size: 3vw;
    color: #fff;
  }
  #index footer {
    text-align: center;
    margin-top: 0;
  }
  #index .btn {
    margin: 40px 0 50px 0;
  }
  #index .btn-box {
    display: flex;
    justify-content: center;
  }
}